.carousel {
    width: 765px;
    height: 234px;
    overflow: hidden;
}
.img-list {
    position: relative;
    height: 200px;
}
.img-item {
    position: absolute;
    left: 0;
    transition:all .8s;
    z-index: 0;
    opacity: 0;
    border-radius: 5px;
    transform-origin: left;
    transform: perspective(200px) rotateY(10deg) translateZ(-70px);
    -webkit-box-reflect:below 0px -webkit-linear-gradient(top, transparent, transparent 90%, rgba(255,255,255,0.3));
}
.left-img-item {
    left: 0;
    transform-origin: left;
    transform: perspective(200px) rotateY(0deg) translateZ(-70px);
}
.right-img-item {
    left: 450px;
    transform-origin: right;
    transform: perspective(200px) rotateY(-0deg) translateZ(-70px);
}
.img-item img {
    width: 540px;
    height: 200px;
    vertical-align: bottom;
}
.prev-img-item {
    left: 0px;
    transform-origin: left;
    transform: perspective(200px) rotateY(0deg) translateZ(-40px);
    z-index: 1;
    opacity: 1;
}
.next-img-item {
    left: 340px;
    transform-origin: right;
    transform: perspective(200px) rotateY(0deg) translateZ(-40px);
    z-index: 1;
    opacity: 1;
}
.main-img-item {
    left: 105px;
    transform: perspective(0px) rotateY(0deg) translateZ(0px);
    z-index: 2;
    opacity: 1;
}
.img-modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}
.img-tip {
    position: absolute;
    right: 0px;
    bottom: 8px;
    padding: 0 2px 0 9px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #a1180b;
    border-right-color: transparent;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #b91115;
}
.tip-tail {
    position: absolute;
    right: -4px;
    bottom: -1px;
    width: 4px;
    height: 24px;
    background: url(../img/music/tip.png);
}
.main-img-item .img-modal {
    background: transparent;
}
.switch-list {
    text-align: center;
}
.switch-item {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 24px 0 6px 8px;
    border-radius: 50%;
    transition:all .8s;
    background: #E0E0E0;
}
.switch-item-active {
    background: #EA0201;
}
.switch-list li:first-child {
    margin-left: 0px;
}