/* 重置 */
*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
    border: 0;
    vertical-align: middle;
}
a{
    text-decoration: none;
}
body{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
/* 清除浮动 */
.clearfix::after{
    content:" ";
    display: block;
    clear:both;
}